{{ forms.textField({
	label: "Title"|t,
	id: 'title',
	name: 'title',
	value: notification.title,
	errors: notification.getErrors('title'),
	first: true,
	autofocus: true,
	required: true
}) }}

{{ forms.textareaField({
	label: "Body"|t,
	id: 'body',
	name: 'body',
	value: notification.body,
	errors: notification.getErrors('body'),
	required: true
}) }}

{{ forms.textareaField({
	label: "Param"|t,
	id: 'param',
	name: 'param',
	value: notification.param,
	errors: notification.getErrors('param'),
}) }}
