{% extends "_layouts/cp" %}

{% import "_includes/forms" as forms %}

{% block content %}
	<form method="post" accept-charset="UTF-8" data-saveshortcut="1">
		<input type="hidden" name="action" value="pushNotifications/apps/saveApp">
		<input type="hidden" name="redirect" value="pushnotifications/apps">
		{% if app.id %}<input type="hidden" name="appId" value="{{ app.id }}">{% endif %}
		{{ getCsrfInput() }}

		{{ forms.textField({
			first: true,
			label: "Name"|t,
			instructions: "What this app will be called in the CP."|t,
			id: 'name',
			name: 'name',
			value: app.name,
			errors: app.getErrors('name'),
			autofocus: true,
			required: true,
			translatable: true
		}) }}

		{{ forms.textField({
			label: "Handle"|t,
			instructions: "How you’ll refer to this app in the templates."|t,
			id: 'handle',
			class: 'code',
			name: 'handle',
			value: app.handle,
			errors: app.getErrors('handle'),
			required: true
		}) }}

		<div class="field">
			<div class="heading">
				<label>{{ "Platforms"|t }}</label>
			</div>
			<div class="instructions" style="margin: -5px 0px 5px 0px">
				<p>{{ "For which platforms has this app been built?"|t }}</p>
			</div>
			<div class="input">
				<input type="hidden" name="platforms[ios][enabled]" value="0">
				<input type="hidden" name="platforms[ios][setting]" value="0">
				<input type="hidden" name="platforms[android][enabled]">
				<input type="hidden" name="platforms[android][setting]">
				<table id="platforms" class="shadow-box editable">
					<thead>
						<tr>
							<th scope="col" class="header" width="10%">{{ "Platform"|t }}</th>
							<th scope="col" class="header" width="5%">{{ "Enable"|t }}</th>
							<th scope="col" class="header" width="85%">{{ "Setting (i.e. certificate location for APNS or API key for GCM.)"|t }}</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td class="thin action" style="text-align: left;">{{ "iOS"|t }}</td>
							<td><input type="checkbox" name="platforms[ios][enabled]" value="1"{% if app.platforms.ios.enabled %} checked{% endif %}></td>
							<td class="textual"><textarea name="platforms[ios][setting]" rows="1">{{ app.platforms.ios.setting }}</textarea></td>
						</tr>
						<tr>
							<td class="thin action" style="text-align: left;">{{ "Android"|t }}</td>
							<td><input type="checkbox" name="platforms[android][enabled]" value="1"{% if app.platforms.android.enabled %} checked{% endif %}></td>
							<td class="textual"><textarea name="platforms[android][setting]" rows="1">{{ app.platforms.android.setting }}</textarea></td>
						</tr>
						<tr>
							<td class="thin action" style="text-align: left;">{{ "Windows"|t }}</td>
							<td><input type="checkbox" name="platforms[windows][enabled]" value="1"{% if app.platforms.windows.enabled %} checked{% endif %}></td>
							<td class="textual"><textarea name="platforms[windows][setting]" rows="1">{{ app.platforms.windows.setting }}</textarea></td>
						</tr>
					</tbody>
				</table>
	        </div>
	    </div>

		<div class="field">
			<div class="heading">
				<label>{{ "Commands"|t }}</label>
			</div>
			<div class="instructions" style="margin: -5px 0px 5px 0px">
				<p>{{ "Predefine commands to send with a notification."|t }}</p>
			</div>
			<div class="input">
				{{ forms.editableTableField({
		            id: 'commands',
		            name: 'commands',
		            cols: {
		                "name": {"heading": "Name"|t, "type": "singleline"},
		                "param": {"heading": "Parameter"|t, "type": "singleline"},
		            },
		            rows: app.commands,
		            addRowLabel: "Add command"|t
		        }) }}
	     	</div>
	    </div>

		<div class="buttons">
			<input type="submit" class="btn submit" value="{{ 'Save'|t }}">
		</div>
	</form>
{% endblock %}


{% set js %}
	{% if not app.handle %}new Craft.HandleGenerator('#name', '#handle');{% endif %}
{% endset %}
{% includeJs js %}
