{% extends "_layouts/elementindex" %}
{% set title = "Devices"|t %}
{% set elementType = 'PushNotifications_Device' %}

{% set tabs = {
	apps: { label: "Apps"|t, url: url('pushnotifications/apps') },
	devices: { label: "Devices"|t, url: url('pushnotifications/devices') }
} %}

{% set selectedTab = 'devices' %}

{% block sidebar %}
	{% if apps|length %}
		<div class="buttons">
			{% if apps|length > 1 %}
				<div class="btn submit menubtn add icon">{{ "New Device"|t }}</div>
				<div class="menu">
					<ul>
						{% for app in apps %}
							<li><a href="{{ url('pushnotifications/devices/'~app.handle~'/new') }}">{{ app.name|t }}</a></li>
						{% endfor %}
					</ul>
				</div>
			{% else %}
				<a class="btn submit add icon" href="{{ url('pushnotifications/devices/'~apps[0].handle~'/new') }}">{{ "New Device"|t }}</a>
			{% endif %}
		</div>
	{% endif %}

	{{ parent() }}
{% endblock %}
